@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  width: 700px;
  margin: 0 auto;
}

h1 {
  margin: 30px auto;
  text-align: center;
}

.code-box {
  position: absolute;
  top: 350px;
  right: 50px;
  z-index: 1;
  text-align: center;
}

.code-box > * {
  vertical-align: top;
}

.code-box input {
  height: 30px;
}

.code-box .btn-result {
  width: 100px;
  height: 30px;
  font-weight: bold;
  color: #111111;
  background: linear-gradient(to left, #48c9b0 50%, #117864 50%) right;
  background-size: 200%;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s ease-out;

  -webkit-appearance: none;
}

.code-box .btn-result:hover {
  color: #ffffff;
  background-position: left;
}

.cube-area {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 20px auto 0;
}

.cube-area .cube-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cube-area .cube-box {
  justify-content: center;
  align-items: center;
}

/* .cube-box .cube-l {}
.cube-box .cube-f {}
.cube-box .cube-r {}
.cube-box .cube-b {} */
.cube-box .cube-u,
.cube-box .cube-d {
  margin-right: 104px;
}

.cube-box .cube {
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  box-sizing: content-box;
  width: 100px;
  height: 100px;
  border: 2px solid #333333;
  border-radius: 5px;
}

.cube span {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
  font-size: 20px;
  border-right: 1px solid #333333;
  border-left: 1px solid #333333;
}

.cube span:nth-child(3n - 2) {
  border-left: 0;
}

.cube span:nth-child(3n) {
  border-right: 0;
}

.cube span:nth-child(n + 4):nth-child(-n + 9) {
  border-top: 1px solid #333333;
}

.cube span:nth-child(n):nth-child(-n + 6) {
  border-bottom: 1px solid #333333;
}

.cube .color-0 {
  color: #ffffff;
  background-color: #0040ff;
}

.cube .color-1 {
  background-color: #ffffff;
}

.cube .color-2 {
  color: #ffffff;
  background-color: #ff9933;
}

.cube .color-3 {
  color: #ffffff;
  background-color: #00cc00;
}

.cube .color-4 {
  background-color: #ffff33;
}

.cube .color-5 {
  color: #ffffff;
  background-color: #ff0000;
}

.cube-area .cube-row:last-child {
  margin-top: 30px;
}

.cube-area .code-control dt {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
  text-align: right;
}

.cube-area .cube-row:last-child .cube-box:last-child img {
  width: 250px;
  height: auto;
  margin: 15px 0 0 10px;
}
